@charset "utf-8";
.master{
background: url("27.jpeg");
background-repeat: no-repeat;
background-size: 1470px 3000px;
width: 1470px;
height: 3000px;
margin-right: auto;
margin-left: auto;
position: relative;
}
.ASHOB{
border-radius:40px;
width: 300px;
height: 250px;
border: 2px solid hsla(0,2%,10%,1.00);
text-align: center;
float: left;
margin: 50px 0 0 250px;
color: white;   /* متن کاملاً واضح */
background: rgba(0, 0, 0, 0.4); /* بکگراند نیمه شفاف */

}
.ASHOB1{
border-radius:40px;
width: 200px;
height: 170px;
border: 2px solid hsla(0,2%,10%,1.00);
text-align: center;
float: right;
margin: 50px 400px 0 0;
color: white;   /* متن کاملاً واضح */
background: rgba(0, 0, 0, 0.4); /* بکگراند نیمه شفاف */

}
.ASHOB2{
border-radius:40px;
width: 200px;
height: 250px;
border: 2px solid hsla(0,2%,10%,1.00);
text-align: center;
float: left;
margin: 300px 0 0 50px;
}
.ASHOB3{
text-align: center
}
.music-player{
position: fixed;
bottom: 25px;
right: 25px;
z-index: 999;
}

#playBtn{
width: 70px;
height: 70px;
border-radius: 50%;
border: none;
background: rgba(0,0,0,0.6);
color: white;
font-size: 24px;
cursor: pointer;
transition: 0.3s;
backdrop-filter: blur(6px);
box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

#playBtn:hover{
transform: scale(1.15);
background: rgba(0,0,0,0.9);
}

/* وقتی موزیک روشنه */
#playBtn.playing{
background: #00c896;
box-shadow: 0 0 20px #00c896;
}