@charset "utf-8";
.mestr{
font: italic;
background-image: url("27.jpeg");
background-repeat: no-repeat;
background-size: 1347px 700px;
width: 1347px;
height: 700px;
margin-right: auto;
margin-left: auto;
position: relative;
}
.ASHOB{
text-align: center
}
.ASHOB1{

}